Checks: >
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-identifier-naming,

  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,

  -modernize-use-trailing-return-type,

  -readability-identifier-length,
  -readability-magic-numbers

WarningsAsErrors: >
  bugprone-*,
  performance-*,
  portability-*

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case

  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.StructCase
    value: CamelCase

  - key: readability-identifier-naming.FunctionCase
    value: camelBack

  - key: readability-identifier-naming.MethodCase
    value: camelBack

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _

  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
